.App {
padding: 40px 60px;
background-color: #999;
}

.App-header {
background-color: #282c34;
margin: 20px 0 40px 0;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
font-size: calc(10px + 2vmin);
color: white;
}

.doc-preview {
background-color: #fff;
}

.doc-preview-header {
margin-bottom: 20px;
background-color: #f2f2f2;
font-weight:  bold;
border-bottom: 1px solid #666;
padding: 20px;
}

.doc-content {
padding: 10px 20px;
}

.file-info {
margin-right: 40px;
}

.drop-zone {
padding: 20px;
margin-bottom: 20px;
border:  1px solid #f2f2f2;
background-color: #fff;
text-align: center;
}

.summarized-doc {
margin-top: 20px;
background-color: #fff;
}

.spinner {
width:  200px;
float:  right;
}