.app {
background-color: #e9ecef;;
}

.app-header {
background-color: #282c34;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

.app-content {
min-height: 600px;
padding: 20px;
}

.doc-preview, .doc-summary {
background-color: #fff;
border: 1px solid #282c34;
margin-bottom: 30px;
}

.doc-header {
background-color: #f2f2f2;
font-weight:  bold;
border-bottom: 1px solid #666;
padding: 10px 20px;
line-height: 40px;
}

.extracted-info {
padding: 20px;
}

pre.doc-content {
padding: 20px;
max-height: 460px;
overflow: scroll;
margin-bottom: 0; /* There's a default margin  */
}

.doc-info {
margin-right: 40px;
}

.drop-zone {
width: 300px;
padding: 10px;
margin: 00 auto 10px;
text-align: center;
}

.spinner {
width:  120px;
float:  right;
}

.highlighted_term {
display:inline-block;
background:#FFDC00;
}